<!DOCTYPE html>
<html>
  <head>
    <title>Relax</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Quicksand" rel="stylesheet">
    <script type="text/javascript">window.logo= "<%= image_url('relax-logo.png') %>"</script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
