<!DOCTYPE html>
<html>
  <head>
    <title>Relax</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lobster|Lora:700|Quicksand:400,500,700" rel="stylesheet">
    <script type="text/javascript">window.logo = "<%= image_url('relax-logo.png') %>"</script>
    <script type="text/javascript">window.welcomeImg = "<%= image_url('welcome-img.png') %>"</script>
    <script type="text/javascript">window.arrow = "<%= image_url('right-arrow.svg') %>"</script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
